@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body{
    background-image: url("..//Images/halloween.jpg");
    background-repeat: no-repeat;
}

.MainPageHeader {

    align-self: center;
    flex-grow: 1;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;
    border: 2px solid crimson; 
    background-color: crimson;
}

.HeaderRow{
    box-sizing: border-box;
    display: flex;
    position: static;
}

.HeaderLogo{
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-sizing: border-box;
    display: flex;
    line-height: normal;
    position: static;
    order: 0;
    border-right: 1px solid gray;
    background-color: white;
    
}

.MainLogoImage{
    box-sizing: border-box;
    display: block;
    position: static;
    
}
.HeaderContent{
    flex-grow: 1;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
}

.HeaderNavigation{
    display: flex;
    box-sizing: border-box;
    position: relative;
    
}

.NavElements{
    display: flex;
    position: static;
}

.NavListItem{
    list-style-type: none;
    text-decoration: none;
}

.NavListLink{
    color: inherit;
    text-decoration: none;
    display: block;
    width: 10vw;
    background-color: green;
    padding: 14px;
    margin:0 0 0px 20px;  
    text-align: center;
    border-color: black;
    border-width: 10px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.NavListLink:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #54b3d6;;
}

.MainPageContentArea {
    display: flex;
    height: 2000px;
    background-color: whitesmoke;
    margin: 10%;
}

.MainPageContent {
    flex-grow: 1;
}


